<div class="container">
    <div>
        <img src="/assets/img/kawaiiBurger.png" alt="Cute burger" width="180" height="180">
        <h1>Eat Da Brrrrgrrrs!</h1>

    </div>

    <h2>Brrrrgrrrs that are not devoured!</h2>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
    </ul>

    <h2>Brrrrgrrrs that are devoured!</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
    </ul>

    <h2>Add a Yum-yum Brrrrgrrr!</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="br">Brrrrgrrr name:</label>
            <input type="text" id="br" name="name">
        </div>

        <div class="form-group">
            <label for="devou">Devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="devoured" value="0"> Eat me!
        </div>

        <button type="submit">Add Brrrrgrrr</button>
    </form>

</div>